{% extends 'base.html' %}

{% block head %}
    <title>About Us</title>
{% endblock%}
{% block body %}
    <div class="container">
    </br>
        <div class="jumbotron">
            <h1>About Us</h1>
            <p> This is Varun Palla. I am studying in Malla Reddy College of Engineering and Technology in the stream of Computer Science. I built this application just to bring about a change in India and help people solving the problems. Special thanks to Riktam Technology for providing this opportunity</p>
        </div>
        <div class="jumbotron">
            <h1>Contact Us</h1>
            <p>Name: Varun Palla</p>
            <p>Contact No: +91-8179421384</p>
            <p>Email: pallavarun457@gmail.com</p>
            <p>Location: Hanamkonda, Warangal - 506001</p>
        </div>
    </br>
</div>{% endblock%}
