{% extends 'base.html' %}

{% block head %}
    <title>About Us</title>
{% endblock%}
{% block body %}
    <div class="container">
    </br>
        <div class="jumbotron">
            <h1>About Us</h1>
            <p> This is Yeluru Sreenivasulu. I am studying in Sree vidyanikethan Engineering College in the stream of Computer Science. I built this application just to bring about a change in India and help people solving the problems. Special thanks to Riktam Technology for providing this opportunity</p>
        </div>
        <div class="jumbotron">
            <h1>Contact Us</h1>
            <p>Name: Yeluru Sreenivasulu</p>
            <p>Contact No: +91-7702506288</p>
            <p>Email: syeluru123@gmail.com</p>
            <p>Location: Gandlavedu Nellore - 524307</p>
        </div>
    </br>
</div>{% endblock%}
